<!DOCTYPE html>
<html>
<body>

<p>Hello! My name is Daniele Hohol and I welcome you to my blog!. The intention of this blog is to create a positive internet
	footprint while also sharing my thoughts on life, coffee, business, and
	technology in general</p>
<p>Some quick facts about me:</p>
<p>School/Program: I'm a Math/Business student at the University
	of Waterloo and Laurier (Joint Program) with a concentration in Systems Management
	while also working on a minor in Computer Science. I am expected to graduate in April 2013</p>
<p>Football team: Loyal Arsenal F.C Fan while also routing for the All-Blacks when watching Rugby Union. I also
	happen to be a fan of the Green Bay Packers and I do own a Cheese-head!</p>
<p>Coffee or Espresso? Or Both?: I love both. My favorite Espresso-based drink is a Cafe Cortado
	while I do love to enjoy the sweet sweet rush of caffiene from an Ethopian pour-over</p>
<p>Programming Language of Choice: Depends on the context. I find Perl is a pretty useful scripting language and
	have used it at work with great effect. While I know there is a big "Perl vs Python" debate, I am learning Python to make
	sure I don't get ripped apart in an interview again. I enjoy writing mobile apps in Ruby/Rails although I'm trying to expand my
	base with C# and working on my JavaScript and .CSS skillz (a reason for this blog as well ;))</p>
<p>Favorite Magazine: Harvard Business Review and The Economist</p>
<p>Twilight fan?: No. I hate the show with a lot of passion</p>

</body>
</html>