<a href="feed://connect.garmin.com/feed/rss/activities?feedname=Garmin%20Connect%20-%20dhohol&owner=dhohol" title="Click to subscribe">
<img src="http://i632.photobucket.com/albums/u22/GreenLava/ikon.gif" style="border:0"/>Subscribe to my feed</a